.homepage {
  width: 100%;
  overflow: hidden;
}

.homepage .img1 {
  width: 100%;
}

.homepage .image-text1 {
  position: relative;
  text-align: center;
  color: black;
}

.homepage .textbanner {
  box-shadow: 0.6322444678609063vh 0.6322444678609063vh 0.8429926238145417vh
    rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  border-radius: 1.054vh;
  opacity: 0.81;
  padding: 0.5em;
  position: absolute;
  font-family: "Accidental-Presidency";
  font-size: 2.4vw;
  letter-spacing: 0.2107481559536354vh;
}
#text1-1 {
  top: 40%;
  left: 62.3%;
  width: 25%;
}
#text1-2 {
  top: 50%;
  left: 62.3%;
  width: 25%;
}
#text1-3 {
  top: 60%;
  left: 62.3%;
  width: 25%;
}

.homepage .image-text2 {
  margin-top: 8.7vw;
  position: relative;
  text-align: center;
  color: black;
}

.homepage .img2 {
  margin-right: 10rem;
  width: 40%;
  margin-left: 50%;
}

#text2-1 {
  top: 40%;
  left: 20%;
  width: 35%;
}
#text2-2 {
  top: 55%;
  left: 20%;
  width: 35%;
}
#text2-3 {
  top: 70%;
  left: 20%;
  width: 35%;
}

.homepage .image-text3 {
  margin-top: 8.7vw;
  margin-bottom: 8.7vw;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 801px) {
  .homepage .img3 {
    width: 40%;
  }

  #text3 {
    text-align: left;
    margin-left: 5%;
    width: 35%;
    font-size: 1.35vw;
  }
}

@media screen and (max-width: 800px) {
  .homepage .img3 {
    width: 80%;
    margin-left: 10%;
  }

  #text3 {
    text-align: left;
    margin-left: 10%;
    width: 80%;
    font-size: 2.5vw;
  }
}
