.over-page {
  margin-top: 10rem;
  font-size: 1.35vw;
}
.over-page .image-text {
  margin-top: 10rem;
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

@media screen and (min-width: 801px) {
  .over-page #img1 {
    width: 40%;
  }

  .over-page #img2 {
    width: 40%;
  }

  #text1 {
    text-align: left;
    margin-right: 5%;
    width: 35%;
    font-size: 1.35vw;
  }

  #text2 {
    text-align: left;
    margin-left: 5%;
    width: 35%;
    font-size: 1.35vw;
  }
}

@media screen and (max-width: 800px) {
  .over-page {
    margin-top: 5rem;
    font-size: 3vw;
  }
  .over-page #img1 {
    width: 80%;
    margin-left: 10%;
  }

  .over-page .image-text {
    margin-top: 1rem;
  }

  .over-page #img2 {
    width: 80%;
    margin-left: 10%;
  }

  #text1 {
    text-align: left;
    margin-left: 10%;
    width: 80%;
  }

  #text2 {
    text-align: left;
    margin-left: 10%;
    width: 80%;
  }
}
