.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  z-index: 9999;
  border-radius: 2rem;
  background-color: white;
  font-family: "Accidental-Presidency";
  font-size: 2vw;
  letter-spacing: 0.11vw;
  opacity: 0.8;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vw;
}
.menu ul {
  padding-inline-start: 0;
}
.menu-items {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-items li {
  display: inline-block;
  margin-right: 1.054vh;
  margin-left: 1.054vh;
}

.menu-items a {
  text-decoration: none;
  color: black;
}
.menu-item a {
  color: black;
  transition: all 0.5s;
  position: relative;
}

.menu-item a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-bottom: 0.1em solid black;
  transform: scale(1.2, 1.2);
}

.menu-item a:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.menu-item a:active {
  border-bottom: 0.1em solid black;
}

.sitename img {
  margin-top: 6.5%;
  height: 105%;
}
.sitename {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}
.hamburger-icon,
.dropdown {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    justify-content: space-between;
  }
  .menu-items {
    display: none;
  }
  .hamburger-icon {
    margin-right: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3vw;
  }
  .hamburger-lemon {
    margin-left: 1rem;
    width: 6.5vw;
    height: 6.5vw;
    background: yellow;
    border: 1px solid;
    border-radius: 75px 15px;
  }
  .bars {
    width: 50%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bar {
    width: 100%;
    margin: 0.32379924446842956vw;
    height: 0.5vw;
    background-color: #333;
  }

  .dropdown {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5vw;
    background-color: white;
    animation: opacity 0.25s ease-in-out;
  }

  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .dropdown li {
    text-align: center;
    list-style: none;
    line-height: 3em;
    width: 40vw;
    margin: 2px;
    z-index: 2;
    transition: 0.5s;
    animation: rotateX 0.6s ease-out backwards;
  }

  .dropdown-item {
    color: black;
    transition: all 0.5s;
    position: relative;
  }

  .dropdown-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 0.1em solid black;
    border-radius: 0.5em;
    transform: scale(1.2, 1.2);
  }

  .dropdown-item:hover::after {
    opacity: 1;
    transform: scale(1, 1);
  }

  .dropdown a {
    color: black;
    text-decoration: none;
  }

  /* .fixed-nav-bar {
    width: fit-content;
  } */

  @keyframes rotateX {
    0% {
      opacity: 0;
      color: white;
      transform: scale(1.5) rotateX(-90deg) translateY(-2rem);
    }
    50% {
      transform: rotateX(-20deg);
    }
    100% {
      opacity: 1;
      transform: scale(1) rotateX(0deg) translateY(0);
      color: black;
    }
  }
}
